---
import './hero.css';
---

<section class="hero">
	<div class="hero__container">
		<div class="hero__text">
			<span class="hero__label">Singer &middot; Songwriter &middot; Composer</span>
			<h1 class="hero__name">Jesse<br/>Carrigan</h1>
			<span class="hero__rule"></span>
			<p class="hero__sub">
				Artist, composer, and creative technologist.<br/>
				Based in Eindhoven, Netherlands.
			</p>
			<a href="#about" class="hero__cta">Discover more</a>
		</div>
		<div class="hero__image-wrap">
			<img
				class="hero__img"
				src="/img/jesse-carrigan.jpg"
				alt="Jesse Carrigan"
				width="600"
				height="750"
			/>
		</div>
	</div>

	<div class="hero__scroll-indicator">
		<span class="hero__scroll-line"></span>
	</div>
</section>
