---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Jesse Carrigan</h1>
			<p class="hero__text">
				Artist, Composer, and Creative Technologist based in Eindhoven, Netherlands.
			</p>
			<Boton href="#about" texto="Learn more"/>
		</div>
    <img
		class="hero__img"
		src="/img/jesse-carrigan.jpg"
		alt="Jhon Doe"
		width="384"
    	height="384"
	/>
	</div>
</section>
