---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<!-- <SkillsOnTerminal /> -->
	<div class="text-content">
		<Title contenido="Credits" />
		<img
			class="skills__img"
			src="https://upload.wikimedia.org/wikipedia/commons/3/3c/CBS_NFL_2021.svg"
			alt="NFL on CBS"
			width="800"
			height="600"
			style="background: white; padding: 1rem; border-radius: 8px;"
		/>
		<img
			class="skills__img"
			src="https://upload.wikimedia.org/wikipedia/commons/7/78/CBS_NCAA_2021.svg"
			alt="NCAA on CBS"
			width="800"
			height="600"
			style="background: white; padding: 1rem; border-radius: 8px;"
		/>
	</div>
</section>
