---
import SocialIcons from '../SocialIcons.astro';
import './Footer.css';
---

<footer class="footer">
	<div class="footer__inner">
		<div class="footer__brand">
			<a href="/" class="footer__name">Jesse Carrigan</a>
			<p class="footer__tagline">Artist &middot; Composer &middot; Creative Technologist</p>
			<SocialIcons width="20" height="20"/>
		</div>

		<a class="footer__email" href="mailto:jesse@jessecarrigan.live">
			jesse@jessecarrigan.live
		</a>
	</div>

	<div class="footer__bottom">
		<span class="footer__copy">&copy; {new Date().getFullYear()} Jesse Carrigan. All rights reserved.</span>
	</div>
</footer>
